@tailwind base;
@tailwind components;
@tailwind utilities;

  *{
    font-family: 'Vazirmatn', sans-serif;
  }
    html {
      scroll-behavior: smooth;
    }
    img{
      border: solid 2px black;
    }